:root {
    --primary-color: rgba(239, 239, 239, 0.4);
    --overlay-color: rgba(239, 239, 239, 1);
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Lato','Roboto', sans-serif; 
    line-height: 1.4;
    /* width: 80%; */
    margin:auto;
}

.logo {
    width: 100%;
    top: 0;
    display: block;
    text-align: center;
}

.logo img {
    margin-top: 10px;
}

.banner {
    height: 100vh;
    position: relative;
}

.banner-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin-top: 60px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
}

.banner-right {
    margin-top: 2em;
	margin-left: 4em;
}

.banner-left {
    margin-top: 4em;
}



.banner h1 {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Mr Eaves San OT', 'Lato', 'Roboto' sans-serif;
    font-weight: 400;
    position: relative;
}
.banner h1:before {
    content:"";
    display: block;
    width: 70%;
    height: 2px;
    background: #000000;
    position: absolute;
    top: 50%;
    width: 3rem;
    margin: 0 5rem;
}

.banner h1:after {
    content:"";
    display: block;
    width: 50px;
    height: 2px;
    background: #000000;
    position: absolute;
    right: 0;
    top: 50%;
    width: 3rem;
    margin: 0 5rem;
}

.banner p {
    font-family: 'Whitman', serif;
    font-size: 1rem;
    margin-top: 2rem;
}

.btn {
    display: inline-block;
    border: none;
    border-radius: 5%;
    font-size: 0.8rem;
    background-color: #000000;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    margin-top: 2rem;
    text-decoration: none;
    transition: opacity 0.3s ease-in;
}

.btn:hover {
    background-color: #87C6BD;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: var(--primary-color);
    color:#000000;
    text-align: center;
  }

  .footer h2 {
      font-weight: 400;
      padding: 20px;
  }

.footer h2:before {
    content:"";
    display: block;
    width: 30px;
    height: 2px;
    background: #000000;
    position: absolute;
    left: 0;
    top: 15%;
    width: 3rem;
    margin: 0 30rem;
}

.footer h2:after {
    content:"";
    display: block;
    width: 30px;
    height: 2px;
    background: #000000;
    position: absolute;
    right: 0;
    top: 15%;
    width: 3rem;
    margin: 0 30rem;
}


.footer .socialIcons {
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer .socialIcons a {
    margin-right: 30px;
}

.footer p { 
    padding: 10px;
}